body {
    background: linear-gradient(90deg, #f7f7f7d7, #cacaca);
}

.window {
    box-shadow: 3px 3px 25px 0, 0 ,0;
    background-color: azure;
    border-radius: 10px;
    position: relative;
    top: 15%;
    left: 15%;
    bottom: 15%;
    margin-right: 30%;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: 125%;
}

.window-competence {
    box-shadow: 3px 3px 25px 0, 0 ,0;
    background-color: azure;
    border-radius: 10px;
    position: relative;
    top: 15%;
    left: 15%;
    bottom: 15%;
    margin-right: 30%;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: 125%;
}

.window-other {
    box-shadow: 3px 3px 25px 0, 0 ,0;
    background-color: azure;
    border-radius: 10px;
    position: relative;
    top: 15%;
    left: 15%;
    bottom: 15%;
    margin-right: 30%;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: 125%;
}